p {
    font-family: "Alegreya", Arial, sans-serif;
}
table {
margin: 5px;
width: 290px;
}

th {
padding: 3px;
}

td {
padding-left: 8px;
padding-right: 8px;
border: 1px solid #990000;
background-color: #ffffcc;
}

#trHeader {
text-decoration: underline;
color: #990000;
}
.lyrics {
    white-space: pre-wrap;
    height: 300px;
    width: 300px;
    overflow: auto;
    border: 3px solid red;
    padding: 2%;
}